
.woocommerce #content ,body #content{

    .featured-entries-col ul.products li.product {
        
        width: 100%;
        img.attachment-shop_catalog.size-shop_catalog {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            margin:0 auto;
        }
        @media (max-width:1229px){
            .loop-img {
                height: 27.5vw;
                max-height: 185px;
            }
        }
        @media (max-width:767px){}
        @media (max-width:500px){
            
            width: 100%;
            
            div.loop-img{
                height: 52.7vw;
                max-height: 157px;
            }
        }
        @media (max-width:398px){}
    }

    //When has a Category IMG ========================================================
    .at-cat-block ~ .featured-entries-col{
        .loop-img{
            
        }
    }
    
}
//Show main feature banner before load
.featured-slider, .fs-right-slider {
    visibility: visible;
}
.slick-initialized {
    &.featured-slider{
        &>div, &>div:first-child{
            display: block;
        }
    }
    .at-beside-slider-unit{
        display: block;
    }
}
.featured-slider{
    &>div{
        display: none;
    }
    &>div:first-child{
        display: block;
    }
}
.at-action-wrapper > i{
    display: none;
}
.beside-slider{
}
.at-beside-slider-unit{
    display: none;
    &:first-child,&:nth-child(2){
        display: block;
    }
}



.slider-feature-wrap.clearfix.widget-area {
    display: flex;
}
section#basileia-main-banner-area {
    width: 70%;
    margin: 0;
}

@media screen and (max-width: 480px){
    .acme-col-4, .acme-col-3 {
        width: 50%;
    }
}

@media (max-width:1229px){}

@media (min-width:641px) and (max-width:767px){
    section#basileia-main-banner-area {
        height: 54.8vw;
    }
}
@media (max-width:640px){
    section#basileia-main-banner-area {
        margin: 0 0 10px;
    }
}
@media (max-width:767px){
    section#basileia-main-banner-area {
        width: 100%;
    }

}
@media (min-width:769px){
    .slider-desc{
        padding-left: 43px;
        width: 66%;
    }
}