
$banner-principal-h: 100vw!important;
$banner-side-h: 50vw!important;
$banner-side-hf: 101vw!important;

$banner-principal-h-767: 54vw!important;
$banner-side-h-767: 50vw!important;
$banner-side-hf-767: 101vw!important;

/*@media (max-width: 992px){
    /*===============================================
    -----------------Home Page Featured---------------
    /*===============================================*/
    /*.page-template-template-homepage{
        .featured-entries-col{
            .single-list.slick-slide{
                .loop-img{
                    height: 35vw!important;
                }
            }
        }
    }
}*/
@media (max-width: 768px){
    body .mobile-only {
        display: none;
    }

    .page-template-template-homepage{
        .featured-entries-col{
            .single-list{
                .loop-img{
                    height:40vw;
                }
            }
        }
    }
}



@media (max-width: 768px){
/*===============================================
    -----------------Home Page Featured---------------
    /*===============================================*/
    .slider-feature-wrap.clearfix.basileia-book-store{
        .slider-section{
            height: $banner-principal-h-767;
            .slick-initialized.slick-slider{
                height: $banner-principal-h-767;
                .slick-list.draggable{
                    height: $banner-principal-h-767;
                    .slick-track{
                        height: $banner-principal-h-767;
                        .slick-slide{
                            height: $banner-principal-h-767;
                        }
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 640px){

    /*===============================================
    -----------------Home Page Featured---------------
    /*===============================================*/
    .slider-feature-wrap.clearfix.basileia-book-store{
        .slider-section{
            height: $banner-principal-h;
            .slick-initialized.slick-slider{
                height: $banner-principal-h;
                .slick-list.draggable{
                    height: $banner-principal-h;
                    .slick-track{
                        height: $banner-principal-h;
                        .slick-slide{
                            height: $banner-principal-h;
                        }
                    }
                    
                }
            }
        }
        .basileia-featured-bg {
            img{
                width: auto;
                height: 85vw;
                margin: 8vw auto;
            }
            
        }
        .slider-details{
            display: none;
        }
        .slider-buttons {
            display: block;}
        .featured-slider.at-feature-section{
            .slider-desc {
                bottom: 8%;
                width: 100%;
                padding-left: 0!important;
            }
            .slider-buttons {
                display: block;
                margin: 0 auto;
                width: max-content;
            }

        }
    }
    
    .beside-slider.basileia-book-store{
        height: $banner-side-hf;
        .fs-right-slider.slick-initialized.slick-slider.slick-vertical{
            height: $banner-side-hf;
            .slick-list.draggable{
                height: $banner-side-hf;
                
                .no-media-query.at-beside-slider-unit.slick-slide{
                    height: $banner-side-h;
                    img{
                        height: 45vw;
                        margin: 2vw 5vw;
                    }
                    .slider-details,.beside-slider-desc{
                        display: block;
                    }
                    .slide-title {
                        font-size: 1.2em;
                        width: 50vw;
                    }
                    
                    
                }
            }
            
        }
    }
    /*===============================================
    ---------------------Home Page-------------------
    /*===============================================*/
    .page-template-template-homepage{
        .featured-entries-col{
            .single-list.slick-slide{
                .loop-img{
                    height: 48vw!important;
                }
            }
        }
       
    }
}

@media (max-width: 370px){
    .beside-slider.basileia-book-store .fs-right-slider.slick-initialized.slick-slider.slick-vertical .slick-list.draggable .no-media-query.at-beside-slider-unit.slick-slide .slide-title {
        font-size: 0.9em;
        /*display: none;*/
    }

}