
$banner-principal-h: 100vw!important;
$banner-side-h: 50vw!important;
$banner-side-hf: 101vw!important;

$banner-principal-h-767: 54vw!important;
$banner-side-h-767: 50vw!important;
$banner-side-hf-767: 101vw!important;


@media (max-width: 768px){

    .page-template-template-homepage{
        .featured-entries-col{
            .single-list{
                .loop-img{
                    height:40vw;
                }
            }
        }
    }
    /*===============================================
    -----------------Side Bar---------------
    /*===============================================*/
    .woocommerce #content .widget-area.sidebar.secondary-sidebar{
        width: 100%;
    }
}



@media (max-width: 768px) and (min-width: 641px){
/*===============================================
    -----------------Home Page Featured---------------
    /*===============================================*/
    .slider-feature-wrap.clearfix.basileia-book-store{
        .slider-section{
            height: $banner-principal-h-767;
            .slick-initialized.slick-slider{
                height: $banner-principal-h-767;
                .slick-list.draggable{
                    height: $banner-principal-h-767;
                    .slick-track{
                        height: $banner-principal-h-767;
                        .slick-slide{
                            height: $banner-principal-h-767;
                        }
                    }
                    
                }
            }
        }
        .slider-details{display: none;}
        .slider-buttons{
            display: block;
            margin: 0 auto;
            width: max-content;
        }
    }
    .beside-slider .fs-right-slider .at-beside-slider-unit{
        height: 26.6vw;
    }
    .basileia-book-store .basileia-featured-bg{
        &.side-basileia img{
            width: auto;
            height: 21.4vw;
            margin-left: auto;
            margin-right: auto;
        }
            
        img {
            height: 48vw;
            float: none;
            margin: auto;
            }
    }
    .slider-desc {
        position: absolute;
        bottom: 6%;
        width: 100%;
        padding: 0;
    }
}

@media (max-width: 640px){

    /*===============================================
    -----------------Home Page Featured---------------
    /*===============================================*/
    .slider-feature-wrap.clearfix.basileia-book-store{
        .slider-section{
            height: $banner-principal-h;
            .slick-initialized.slick-slider{
                height: $banner-principal-h;
                .slick-list.draggable{
                    height: $banner-principal-h;
                    .slick-track{
                        height: $banner-principal-h;
                        .slick-slide{
                            height: $banner-principal-h;
                        }
                    }
                    
                }
            }
        }
        .basileia-featured-bg {
            img{
                width: auto;
                height: 85vw;
                margin: 8vw auto;
            }
            
        }
        .slider-details{
            display: none;
        }
        .slider-buttons {
            display: block;}
        .featured-slider.at-feature-section{
            .slider-desc {
                bottom: 8%;
                width: 100%;
                padding-left: 0!important;
            }
            .slider-buttons {
                display: block;
                margin: 0 auto;
                width: max-content;
            }

        }
    }
    

    section#basileia-main-banner-area {
        width: 100%;
    }
    .slider-feature-wrap.clearfix.widget-area{
        flex-wrap: wrap;
    }

    .beside-slider.basileia-book-store{
        height: $banner-side-hf;
        .fs-right-slider.slick-initialized.slick-slider.slick-vertical{
            height: $banner-side-hf;
            .slick-list.draggable{
                height: $banner-side-hf;
                
                .no-media-query.at-beside-slider-unit.slick-slide{
                    height: $banner-side-h;
                    img{
                        height: 45vw;
                        margin: 2vw 5vw;
                    }
                    .slider-details,.beside-slider-desc{
                        display: block;
                    }
                    .slide-title {
                        font-size: 1.2em;
                        width: 50vw;
                    }
                    
                    
                }
            }
            
        }
    }
    /*===============================================
    ---------------------Home Page-------------------
    /*===============================================*/
    .page-template-template-homepage{
        .featured-entries-col{
            .single-list.slick-slide{
                .loop-img{
                    height: 48vw!important;
                }
            }
        }
       
    }
    /*===============================================
    ----------------Product Single page--------------
    /*===============================================*/
    .woocommerce #content, body #content{

        div.product div.woocommerce-product-gallery.images, div.product div.woocommerce-product-gallery.images {
            width: 60%;
            float: none;
            margin: 0 auto;
        }
        .type-product div.summary.entry-summary{
            width: 100%;
        }
        #primary span.onsale {
            margin: 0 30vw !IMPORTANT;
        }
    }
}

@media (max-width: 370px){
    .beside-slider.basileia-book-store .fs-right-slider.slick-initialized.slick-slider.slick-vertical .slick-list.draggable .no-media-query.at-beside-slider-unit.slick-slide .slide-title {
        font-size: 0.9em;
        /*display: none;*/
    }
    .woocommerce #content .group-sumary,body #content .group-sumary {
        .price,.group,.product_meta,.woocommerce-product-book-details-seo{
            width: 100%;            
        }
        .input-text.qty.text{
            width: 30vw;
        }
    }
}