/**
*   This document stylise Product Loop Pages
*/

.woocommerce #content ,body #content{
    
    ul.products{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        ins{
            text-decoration: none;
        }
    }
    
    li.product {
        margin: 0 1% 2.992em 0;
        width: 24%;
        .sale-perc {
            margin: -14px;
            color: white;
            background: #4595e1;
            z-index: 10;
            padding: 0.2em 0.5em;
            position: absolute;
            border-radius: 4px;
        }
        span.onsale {
        
            display: none;
        }
        
        .star-rating {
            display: none;
            order: -1;
            position: absolute;
        }
        
        del {
        
            font-size: 0.8em;
        }
        
        ins,del{
        
            display: block;
        }
        
        .loop-img{
            
            height: 30vw;
            width: 89%;
            max-height: 300px;
        }
        
        a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
            
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
            margin: 0 0 1em !important;
            display: inline;
        }
        a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: unset;
        }
        h3.woocommerce-loop-product__title {
            min-height: 3em;
        }
    }
    .woocommerce-result-count{
        display:block;
        width: 100%;
    }
    .woocommerce-ordering{
        right: 0;
        position: absolute;
    }

    @media (max-width:1229px){
        
        li.product {
            
            .loop-img{
                
                height: 23vw;
                max-height: 227px;
            }
        }
    }
    @media (max-width:767px){    

        li.product {

            .loop-img{

                height: 31vw;
                max-height: 234px;
            }
        }
    }
    @media (max-width:500px){
        
        & ul.products li.product {
                
            margin: 0 1% 2.992em 0;
            width: 31%;
            
            .loop-img{
                
                height: 40vw;
                max-height: 198px;
            }
        }
    }
    @media (max-width:398px){
        & ul.products li.product {
                
            width: 49%;
            
            .loop-img{
                
                height: 62vw;
                max-height: 246px;
            }
        }
    }
}