@charset "UTF-8"; 

$primary-color: #4595e1;
$color-2: #2b3e5e;

//-------Woocommerce-------
.woocommerce, .woocommerce-page{
    //=========================
    //||||||||||Grid|||||||||||
    //=========================
    #content {
        //=========================
        //-------Product Page------
        //=========================
        div.product{
            div.woocommerce-product-gallery.images{
                width: 33%; 
                float: left;
            }
        }
        .type-product div.summary.entry-summary{
            width: 63%;
            float: right;
        }
        .secondary-sidebar.sidebar{
            width: 25%;
            clear: none;
        }
        div#primary{
            width: 74%;
        }
        div#secondary-left{
            float: left;
        }
        div#secondary-right{
            float: right;
        }
        .group-sumary {
            display: flex;
            flex-wrap: wrap;
            .price, .group,.product_meta,.woocommerce-product-book-details-seo{width: 48%;}
            .woocommerce-product-book-details-seo,.product_meta{
                border-top: 1px dotted #ddd;
                border-bottom: 1px dotted #ddd;
                padding: 10px 0;
            }
            .price{
                padding: 2em 0 0;
                > *{display: block;}
                ins{
                    font-size: 2em;
                    text-decoration: none;
                }
            }
        }


        //===============================
        //-----------Loop itens----------
        //===============================
        ul.products.columns-4 li.product{
            margin: 0 1% 2.992em 0;
            width: 24%;

            a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
                height: auto;
                width: auto;
                max-width: 200px;
                max-height: 270px;
                margin: 0 0 1em !important;
                display: inline;
           }
           .loop-img {
            height: 274px;
            }
            a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: unset;
            }
            h3.woocommerce-loop-product__title {
                min-height: 3em;
            }
        }
    }

    //=========================
    //||||||||Aparence|||||||||
    //=========================
    #content {

        ins {
            text-decoration: none;
        }
        //=========================
        //-------Product Page------
        //=========================
        div.product{

            //SUMMARY START--------------------
            .summary.entry-summary{
                margin-top: 0;
            }
            .product_title{
                margin: 0;
            }
            .woocommerce-product-rating{
                margin-bottom:0; 
            }
            div.title.line, div.autor.line{
                font-family: "Oswald", sans-serif;
                h2{
                    font-size: 14px;
                    display: inline;
                }
            }
            div.product_meta h2{
                font-size: 14px;
            }
            .cart{
                .quantity{float:none;display: inline;
                    .qty{
                        height: 2em;
                    }
                    //hide buttons natives from browser
                    input[type="number"] {
                        -moz-appearance: textfield !important; 
                        border: none;
                        &::-webkit-outer-spin-button, 
                        &::-webkit-inner-spin-button{
                            -webkit-appearance: none !important;
                            margin: 0 !important;
                        }
                    }
                }
                .counter{
                    display: flex;
                    background: $primary-color;
                    border: $primary-color 2px solid;
                }
                .btElPlus, .btElLess{
                    padding: 0.1em 5%;
                    width: 50%;
                    color: white;
                    font-size: 2.5em;
                    border: none;
                    background: $primary-color;

                }
                border:white;
                padding-bottom: 0;
                button[name=add-to-cart]{
                    background: #1a8400;
                    border: none;
                    width: 100%;
                    margin: 0.5em 0 0 ;
                    border-radius: 0.25em;

                    &:hover{
                        color: white;
                        box-shadow: #1a840099 2px 2px 7px;
                    }
                }
            }
            .yith-wcwl-add-to-wishlist{
                margin: 0;
            }
            .stock{
                font-weight: bolder;
                &.in-stock{margin:0;}
                &.out-of-stock{
                    text-align: center;
                    padding: 0.1em;
                    border-radius: 0.25em;
                    color: white;
                    background: #d23f3f;
                    margin: 0;
                    padding: 1em 0;
                }
            }
            .shop_attributes h3 {
                font-size: 16px;
                margin: 0;
                b,a{
                    font-weight: 100;
                    color: black;
                    padding: 0.5em 0;

                }
                a{text-decoration: underline;}
            }

        }

        //SUMMARY END--------------------

        .woocommerce-tabs.wc-tabs-wrapper{
            .woocommerce-Tabs-panel{
                display: block!important;
                margin-bottom: 5em;
            }
            .tabs.wc-tabs{
                display: none;
            }        
        }
        //===============================
        //-----------Loop itens----------
        //===============================
        ul.products.columns-4 li.product{

            span.onsale {
                display: none;
            }
            .star-rating {
                order: -1;
                position: absolute;
            }
            del {
                font-size: 0.8em;
            }
            ins,del{
                display: block;
            }
        }
    }
}
.special-menu {
    background: $color-2;
    color: #fff!important;
    width: 225px;
}
//-------------------------
//-------------------------
//-------------------------
@media (min-width: 768px){
    body .mobile-only {
        display: none;
    }
}