.woocommerce.right-sidebar div#primary, .woocommerce-page.right-sidebar div#primary {
  width: 74%; }
.woocommerce #content div.product div.woocommerce-product-gallery.images, .woocommerce-page #content div.product div.woocommerce-product-gallery.images {
  width: 33%;
  float: left; }
.woocommerce #content .type-product div.summary.entry-summary, .woocommerce-page #content .type-product div.summary.entry-summary {
  width: 63%;
  float: right; }
.woocommerce #content .secondary-sidebar.sidebar, .woocommerce-page #content .secondary-sidebar.sidebar {
  width: 25%;
  clear: none; }
.woocommerce #content div#secondary-left, .woocommerce-page #content div#secondary-left {
  float: left; }
.woocommerce #content div#secondary-right, .woocommerce-page #content div#secondary-right {
  float: right; }
.woocommerce #content .group-sumary, .woocommerce-page #content .group-sumary {
  display: flex;
  flex-wrap: wrap; }
  .woocommerce #content .group-sumary .price, .woocommerce #content .group-sumary .group, .woocommerce #content .group-sumary .product_meta, .woocommerce #content .group-sumary .woocommerce-product-book-details-seo, .woocommerce-page #content .group-sumary .price, .woocommerce-page #content .group-sumary .group, .woocommerce-page #content .group-sumary .product_meta, .woocommerce-page #content .group-sumary .woocommerce-product-book-details-seo {
    width: 48%; }
  .woocommerce #content .group-sumary .woocommerce-product-book-details-seo, .woocommerce #content .group-sumary .product_meta, .woocommerce-page #content .group-sumary .woocommerce-product-book-details-seo, .woocommerce-page #content .group-sumary .product_meta {
    border-top: 1px dotted #ddd;
    border-bottom: 1px dotted #ddd;
    padding: 10px 0; }
  .woocommerce #content .group-sumary .price, .woocommerce-page #content .group-sumary .price {
    padding: 2em 0 0; }
    .woocommerce #content .group-sumary .price > *, .woocommerce-page #content .group-sumary .price > * {
      display: block; }
    .woocommerce #content .group-sumary .price ins, .woocommerce-page #content .group-sumary .price ins {
      font-size: 2em;
      text-decoration: none; }
.woocommerce #content ul.products.columns-4 li.product, .woocommerce-page #content ul.products.columns-4 li.product {
  margin: 0 1% 2.992em 0;
  width: 24%; }
  .woocommerce #content ul.products.columns-4 li.product a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail, .woocommerce-page #content ul.products.columns-4 li.product a img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 270px;
    margin: 0 0 1em !important;
    display: inline; }
  .woocommerce #content ul.products.columns-4 li.product .loop-img, .woocommerce-page #content ul.products.columns-4 li.product .loop-img {
    height: 274px; }
  .woocommerce #content ul.products.columns-4 li.product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link, .woocommerce-page #content ul.products.columns-4 li.product a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset; }
  .woocommerce #content ul.products.columns-4 li.product h3.woocommerce-loop-product__title, .woocommerce-page #content ul.products.columns-4 li.product h3.woocommerce-loop-product__title {
    min-height: 3em; }
.woocommerce #content ins, .woocommerce-page #content ins {
  text-decoration: none; }
.woocommerce #content div.product .summary.entry-summary, .woocommerce-page #content div.product .summary.entry-summary {
  margin-top: 0; }
.woocommerce #content div.product .product_title, .woocommerce-page #content div.product .product_title {
  margin: 0; }
.woocommerce #content div.product .woocommerce-product-rating, .woocommerce-page #content div.product .woocommerce-product-rating {
  margin-bottom: 0; }
.woocommerce #content div.product div.title.line, .woocommerce #content div.product div.autor.line, .woocommerce-page #content div.product div.title.line, .woocommerce-page #content div.product div.autor.line {
  font-family: "Oswald", sans-serif; }
  .woocommerce #content div.product div.title.line h2, .woocommerce #content div.product div.autor.line h2, .woocommerce-page #content div.product div.title.line h2, .woocommerce-page #content div.product div.autor.line h2 {
    font-size: 14px;
    display: inline; }
.woocommerce #content div.product div.product_meta h2, .woocommerce-page #content div.product div.product_meta h2 {
  font-size: 14px; }
.woocommerce #content div.product .cart, .woocommerce-page #content div.product .cart {
  border: white;
  padding-bottom: 0; }
  .woocommerce #content div.product .cart .quantity, .woocommerce-page #content div.product .cart .quantity {
    float: none;
    display: inline; }
    .woocommerce #content div.product .cart .quantity .qty, .woocommerce-page #content div.product .cart .quantity .qty {
      height: 2em; }
    .woocommerce #content div.product .cart .quantity input[type="number"], .woocommerce-page #content div.product .cart .quantity input[type="number"] {
      -moz-appearance: textfield !important;
      border: none; }
      .woocommerce #content div.product .cart .quantity input[type="number"]::-webkit-outer-spin-button, .woocommerce #content div.product .cart .quantity input[type="number"]::-webkit-inner-spin-button, .woocommerce-page #content div.product .cart .quantity input[type="number"]::-webkit-outer-spin-button, .woocommerce-page #content div.product .cart .quantity input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0 !important; }
  .woocommerce #content div.product .cart .counter, .woocommerce-page #content div.product .cart .counter {
    display: flex;
    background: #4595e1;
    border: #4595e1 2px solid; }
  .woocommerce #content div.product .cart .btElPlus, .woocommerce #content div.product .cart .btElLess, .woocommerce-page #content div.product .cart .btElPlus, .woocommerce-page #content div.product .cart .btElLess {
    padding: 0.1em 5%;
    width: 50%;
    color: white;
    font-size: 2.5em;
    border: none;
    background: #4595e1; }
  .woocommerce #content div.product .cart button[name=add-to-cart], .woocommerce-page #content div.product .cart button[name=add-to-cart] {
    background: #1a8400;
    border: none;
    width: 100%;
    margin: 0.5em 0 0;
    border-radius: 0.25em; }
    .woocommerce #content div.product .cart button[name=add-to-cart]:hover, .woocommerce-page #content div.product .cart button[name=add-to-cart]:hover {
      color: white;
      box-shadow: #1a840099 2px 2px 7px; }
.woocommerce #content div.product .yith-wcwl-add-to-wishlist, .woocommerce-page #content div.product .yith-wcwl-add-to-wishlist {
  margin: 0; }
.woocommerce #content div.product .stock, .woocommerce-page #content div.product .stock {
  font-weight: bolder; }
  .woocommerce #content div.product .stock.in-stock, .woocommerce-page #content div.product .stock.in-stock {
    margin: 0; }
  .woocommerce #content div.product .stock.out-of-stock, .woocommerce-page #content div.product .stock.out-of-stock {
    text-align: center;
    padding: 0.1em;
    border-radius: 0.25em;
    color: white;
    background: #d23f3f;
    margin: 0;
    padding: 1em 0; }
.woocommerce #content div.product .shop_attributes h3, .woocommerce-page #content div.product .shop_attributes h3 {
  font-size: 16px;
  margin: 0; }
  .woocommerce #content div.product .shop_attributes h3 b, .woocommerce #content div.product .shop_attributes h3 a, .woocommerce-page #content div.product .shop_attributes h3 b, .woocommerce-page #content div.product .shop_attributes h3 a {
    font-weight: 100;
    color: black;
    padding: 0.5em 0; }
  .woocommerce #content div.product .shop_attributes h3 a, .woocommerce-page #content div.product .shop_attributes h3 a {
    text-decoration: underline; }
.woocommerce #content .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel, .woocommerce-page #content .woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel {
  display: block !important;
  margin-bottom: 5em; }
.woocommerce #content .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs, .woocommerce-page #content .woocommerce-tabs.wc-tabs-wrapper .tabs.wc-tabs {
  display: none; }
.woocommerce #content ul.products.columns-4 li.product span.onsale, .woocommerce-page #content ul.products.columns-4 li.product span.onsale {
  display: none; }
.woocommerce #content ul.products.columns-4 li.product .star-rating, .woocommerce-page #content ul.products.columns-4 li.product .star-rating {
  order: -1;
  position: absolute; }
.woocommerce #content ul.products.columns-4 li.product del, .woocommerce-page #content ul.products.columns-4 li.product del {
  font-size: 0.8em; }
.woocommerce #content ul.products.columns-4 li.product ins, .woocommerce #content ul.products.columns-4 li.product del, .woocommerce-page #content ul.products.columns-4 li.product ins, .woocommerce-page #content ul.products.columns-4 li.product del {
  display: block; }

.special-menu {
  background: #2b3e5e;
  color: #fff !important;
  width: 225px; }

@media (min-width: 768px) {
  body .mobile-only {
    display: none; } }

/*# sourceMappingURL=style-sheet.css.map */
