@charset "UTF-8"; 
//-------Woocommerce-------
.woocommerce{
    //=========================
    //||||||||||Grid|||||||||||
    //=========================
    #content {
        //=========================
        //-------Product Page------
        //=========================
        div.product{
            div.woocommerce-product-gallery.images{
                width: 33%; 
                float: left;
            }
        }
        .type-product div.summary.entry-summary{
            width: 63%;
            float: right;
        }
        .secondary-sidebar.sidebar{
            width: 25%;
            clear: none;
        }
        div#primary{
            width: 74%;
        }
        div#secondary-left{
            float: left;
        }
        div#secondary-right{
            float: right;
        }
        .group-sumary {
            display: flex;
            flex-wrap: wrap;
            .price, .group{width: 48%;}
            .product_meta{width: 100%;}
            .price{
                > *{display: block;}
                ins{
                    font-size: 2em;
                }
            }
        }
    }

    //=========================
    //||||||||Aparence|||||||||
    //=========================
    #content {
        //=========================
        //-------Product Page------
        //=========================
        div.product{
            .summary.entry-summary{
                margin-top: 0;
            }
            .product_title{
                margin: 0;
            }
            .woocommerce-product-rating{
                margin-bottom:0; 
            }
            div.title.line, div.autor.line{
                font-family: "Oswald", sans-serif;
                h2{
                    font-size: 14px;
                    display: inline;
                }
            }
            div.product_meta h2{
                font-size: 14px;
            }
            .cart{
                border:white;
                padding-bottom: 0;
                button[name=add-to-cart]{
                    background: #1a8400;
                    border: none;
                    width: 100%;
                    margin: 0.5em 0 0 ;
                    border-radius: 0.25em;

                    &:hover{
                        color: white;
                        box-shadow: #1a840099 2px 2px 7px;
                    }
                }
            }
            .yith-wcwl-add-to-wishlist{
                margin: 0;
            }
            .stock{
                font-weight: bolder;
                &.in-stock{margin:0;}
                &.out-of-stock{
                    text-align: center;
                    padding: 0.1em;
                    border-radius: 0.25em;
                    color: white;
                    background: #d23f3f;
                    margin: 0;
                    padding: 1em 0;
                }
            }

        }
    }
}